@keyframes permanentGradient {
    from {
        background-position: 0% 50%;
    }

    to {
        background-position: 300% 50%;
    }
}

@keyframes shakingHands {
    from{
        background-position: 0px 0px;
    }

    to{
        background-position: 2px 2px;
    }
}

@keyframes wavingBlock {
    from{
        transform: translate(-50%, 25%);
    }

    to{
        transform: translate(-50%, 20%);
    }
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: sans-serif;
    min-height: 100vh;
    overflow-x: hidden;
    background:linear-gradient(135deg,#09090F,#111827,#1E1B4B);
    text-rendering: optimizeLegibility; /* Запрет выделения контента для мод устройств */
    cursor: default;
}

.dynamicMessage{
    visibility: hidden;
    position: fixed;
    left: 50%;
    border: 1px solid rgba(255, 255, 255, 0.588);
    background-color: rgba(255, 255, 255, .08);
    width: 250px;
    height: 125px;
    border-radius: 15px;
    transform: translate(-50%, -100%);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    transition: all 0.5s cubic-bezier(0.65, 0, 0.06, 1.06);
    z-index: 999;
}

.dynamicMessage.opened{
    visibility: visible;
    transform: translate(-50%, 20%);
}

.dynamicMessage.waving{
    animation: wavingBlock 0.3s ease-in-out infinite alternate-reverse;
}

.dynamicMessage span{
    color: white;
    opacity: 0.8;
    text-align: center;
}

.dynamicMessage .progressBar{
    background-color: #15e7e7;
    height: 4px;
    width: 100%;
    border-radius: 50px;
    background-position: center;
    transition: all 3.2s;
}

#header{
    width: 70%;
    height: 90px;
    background-color: none;
    margin: auto;
    padding: 16px 16px;
    display: flex;
    justify-content: center;
    align-items: end;
}

.h_innerBlock{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.hi_blockLeft, .hi_blockRight{
    width: 50%;
    display: flex;
    align-items: center;
}

.hi_contentLeft{
    font-size: 1.5em;
    position: relative;
    text-decoration: none;
    background: linear-gradient(90deg,rgba(0, 47, 235, 1) 0%, rgba(224, 224, 224, 1) 66%);
    background-clip: text;
    color: transparent;
    font-weight: bold;
    cursor: pointer;
}

.hi_blockRight{
    justify-content: flex-end;
    gap: 20px;
}

.hi_blockRight a{
    color: deepskyblue;
}

.hi_contentRight{
    font-size: 1.2em;
    position: relative;
    text-decoration: none;
    color: deepskyblue;
    background-clip: text;
    opacity: 0.8;
    cursor: pointer;
    transform: scale(1);
    transition: 1s;
}

.hi_contentRight::before{
    content: attr(data-text);
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    overflow: hidden;
    background: linear-gradient(90deg,rgba(2, 0, 36, 1) 0%, rgba(0, 212, 255, 1) 66%);
    background-clip: text;
    white-space: nowrap;
    transition: width 0.5s ease-out;
    color: white;
}

.hi_contentRight:hover::before{
    width: 100%;
}

.hi_contentRight::after{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 2px;
    background: #020024;
    background: linear-gradient(90deg,rgba(2, 0, 36, 1) 0%, #00d4ff 66%);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease-out;
}

.hi_contentRight:hover::after{
    transform: scaleX(1);
    transform-origin: left;
}

main{
    margin: auto;
    margin-top: 40px;
    width: 70%;
    min-height: 1200px;
    padding: 16px 20px;
}

.m_block{
    min-height: 550px;
    display: flex;
    margin-bottom: 30px;
}

.mb_left{
    width: 50%;
}

.common_style{
    padding: 8px 8px 25px 8px;
}

.paragraph_main{
    line-height: 30px;
}

.paragraph_main > p{
    text-transform: uppercase;
    color: #15e7e7;
    font-size: 1.3em;
    letter-spacing: 10px;
}

.paragraph_name{
    line-height: 80px;
}

.paragraph_name > p{
    font-size: 3.8em;
    font-weight:800;
    background: linear-gradient(
        90deg,
        rgba(2, 0, 36, 1),
        rgba(0, 212, 255, 1)
    );

    background-size: 300% 100%;
    background-clip: text;
    color: transparent;

    animation: permanentGradient 6s linear infinite;
}

.paragraph_description > span{
    color: white;
    opacity: 0.8;
    font-size: 1.2em;
    font-weight: 600;
    line-height: 30px;
}

.paragraph_button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 25%;
}

.pb_button{
    border: none;
    width: 180px;
    height: 50px;
    border-radius: 50px;
    font-size: 1.2em;
    cursor: pointer;
}

.pb_button a{
    display: block;
    color: white;
    line-height: 50px;
}

.active{
    background-color: #00aed0;
    font-weight: bold;
    transform: scale(1);
    transition: all 0.2s ease-out;
}

.active:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 20px 0px #00aed0;
}

.inactive{
    background-color: #181818a1;
    font-weight: normal;
}

#viewCV{
    scroll-margin-top: 300px;
}

.mb_right{
    width: 50%;
    padding: 8px 16px;
}

.mbr_block{
    border: 1px solid rgba(255, 255, 255, 0.588);
    height: 95%;
    border-radius: 15px;
    background-color: rgba(255,255,255,.08);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 25px 20px 25px;
    gap: 20px;
    overflow: hidden;
}

.mbrb_topPart{
    display: flex;
    flex-direction: column;
    height: 60%;
    gap: 15px;
}

.mbrb_topPart > h4{
    font-size: 1em;
    color: white;
    font-weight: normal;
    opacity: 0.7;
}

.mbrbtp_block{
    width: 300px;
    height: 300px;
    border-radius: 20px;
    background: #020024;
    background: linear-gradient(320deg, rgb(82, 77, 169) 20%, #00d4ff 66%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.mbrbtp_block > .mbrbtp_image{
    position: relative;
    width: 0px;
    height: 230px;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    transition: 0.4s;
}

.mbrbtp_block > .mbrbtp_image::before, .mbrbtp_image::after{
    width: 80px;
    height: 80px;
    transform: scaleX(var(--scale-all, 0)); /*Here by default we might set 0 on place when declaring a variable*/
    transition: transform 0.8s ease-out;
    background-repeat: no-repeat;
    animation: var(--shaking-hands, none);
}

.mbrbtp_block > .mbrbtp_image::before{
    content: "";
    position: absolute;
    top: 0;
    right: -40px;
    background-image: url("../imgs/photo_5253922653435797662_y-removebg-preview.png");
    background-size: cover;
}

.mbrbtp_block > .mbrbtp_image::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: -40px;
    background-image: url("../imgs/photo_5253922653435797663_y-removebg-preview.png");
    background-size: cover;
}

/* .mbrbtp_block > span{
    font-weight: bold;
    font-size: 1.5em;
} */

.mbrb_bottomPart{
    display: flex;
    flex-direction: column;
    height: 40%;
    width: 300px;
}

.mbrbbp_el{
    height: 33%;
}

.mbrbbpe_top{
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.mbrbbpe_top span{
    color: white;
    opacity: 0.8;
}

.mbrbbpe_bottom{
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.progressBar{
    position: relative;
    background-color: #ffffff25;
    height: 8px;
    width: 100%;
    border-radius: 50px;
}

.pfirst::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 80%;
    height: 8px;
    background: #020024;
    background: linear-gradient(320deg, rgb(82, 77, 169) 20%, #00d4ff 66%);
    border-radius: 50px;
}

.psecond::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 60%;
    height: 8px;
    background: #020024;
    background: linear-gradient(320deg, rgb(82, 77, 169) 20%, #00d4ff 66%);
    border-radius: 50px;
}

.pthird::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 30%;
    height: 8px;
    background: #020024;
    background: linear-gradient(320deg, rgb(82, 77, 169) 20%, #00d4ff 66%);
    border-radius: 50px;
}

.skills_block{
    min-height: 250px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.sb_top{
    height: 25%;
    margin-bottom: 12px;
}

.sb_top > h1{
    color: white;
    opacity: 0.8;
    font-size: 2.2em;
    font-weight: 800;
}

.sb_bottom{
    height: 75%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.sbb_el{
    border: 1px solid #2b2b2b;
    background-color: #181818a1;
    height: 70px;
    width: 180px;
    border-radius: 25px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sbb_el > span{
    color: white;
    opacity: 0.6;
    font-size: 1.2em;
}

.contactMeBlock{
    border: 1px solid rgba(255, 255, 255, 0.588);
    background-color: rgba(255, 255, 255, .08);
    height: 250px;
    display: flex;
    flex-direction: column;
    padding: 30px 0px 30px 30px;
    border-radius: 15px;
}

.mainSpeech{
    height: 33%;
}

.mainSpeech > h1{
    color: white;
    font-weight: 800;
    font-size: 2em;
}

.additiveSpeech{
    height: 33%;
}

.additiveSpeech > span{
    color: white;
    opacity: 0.8;
}

footer{
    width: 70%;
    margin: auto;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer span{
    font-size: 0.9em;
    color: white;
    opacity: 0.8;
}

#timeStamp{
    font-size: 1.1em;
    background: linear-gradient(
        90deg,
        rgba(2, 0, 36, 1),
        rgba(0, 212, 255, 1)
    );

    background-size: 300% 100%;
    background-clip: text;
    color: transparent;

    animation: permanentGradient 6s linear infinite;
}